<h1>Edit Author</h1>

<%= form_for :author, url: author_path(@author), method: :patch do | f | %>

<p>
 <%= f.label :first_name %><br>
 <%= f.text_field :first_name %>
</p>

<p>
  <%= f.submit "Save changes" %>
</p>

<% end %>
